img.imgLarge {
  width: 100%;
  height: auto;
  border: 1px solid;
  border-color: grey;
}

img.border {
  border: 1px solid;
  border-color: grey;
}

img.borderPadded {
  border: 1px solid;
  border-color: grey;
  padding: 3px;
}

td { 
  border: 1px solid;
  padding: 5px 5px;
}